bm25s>=0.2.7
datasets>=3.0
gdown>=5.2
ipykernel>=6.29
numpy>=1.26,<3
openai>=1.50
pandas>=2.2
PyStemmer>=2.2
python-dotenv>=1.0
rank-bm25>=0.2.2
sentence-transformers>=3.0
tiktoken>=0.7
torch>=2.3
tqdm>=4.66
transformers>=4.45
